/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// -------------------------------
// |   PREV      |     PLAY     |    NEXT    |
// |   LAYER 1   |    REPEAT    |    MUTE    |
// -------------------------------
            bindings = <
    &kp KP_NUMBER_1   &kp KP_NUMBER_2     &kp KP_NUMBER_3
    &kp KP_NUMBER_4   &kp KP_NUMBER_5     &kp KP_NUMBER_6
            >;

        };

        util_layer {
// -------------------------------
// |   Bluetooth Reset   |     Reset     |    Bootloader    |
// |       LAYER 0       |    REPEAT    |    MUTE    |
// -------------------------------
            bindings = <
    &bt BT_CLR   &reset     &bootloader
    &trans     &none     &none
            >;

        };

    };
};